.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  height: 72px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 264px;
  right: 0;
  z-index: 9;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin: 0;
  word-spacing: 0.3px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.watch-tutorial-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px 6px 12px;
  gap: 13px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 6px;
  font-family: 'Inter', 'sans-sherif';
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease;
}

.watch-tutorial-btn:hover {
  background: #F9FAFB;
}

.user-avatar-container {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  background: #E5E7EB;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #4B5563;
}

.avatar-dropdown-icon {
  color: #9CA3AF;
}.logout-dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 8px;
  z-index: 100;
  min-width: 140px;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 12px;
  width: 130px;
  height: 43px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #000000;
  text-align: left;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  letter-spacing: 0.3px;
  padding-left: 20px;
}

.logout-btn:hover {
  background-color: #F3F4F6;
}

.logout-icon {
  width: 20px;
  height: 20px;
  color: #000000;
}

.mobile-menu-icon {
  display: none;
}

@media (max-width: 600px) {
  .dashboard-header {
    height: auto;
    padding: 16px;
    left: 0;
  }

  .mobile-menu-icon {
    display: block;
    margin-right: 16px;
    cursor: pointer;
  }

  .header-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.3px;
  }

  .watch-tutorial-btn {
    display: none;
  }

  .user-avatar-container {
    gap: 0;
  }

  .user-avatar-container svg {
    display: none;
  }

  .user-avatar {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
}
